@import "../../scss/index.scss";

.topbar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
  background-image: $topbar-color;
  width: 100%;
}

.menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 64px;
  padding: 1rem;

  .hamburger {
    max-width: 100%;
    height: auto;
  }
}

.list {
  display: flex;
  justify-content: flex-end;
  width: 30vw;
}

.listItem {
  display: flex;
  align-items: center;
  padding-right: 2rem;
  color: white;
}

.avatar {
  border-radius: 50%;
  height: 37px;
  width: 37px;
  margin-left: 0.5rem;
}

.signOut:hover {
  color: lightblue;
}

.signOut a {
  line-height: 64px;
}

@media (max-width: 1000px) {
  .list {
    width: 55%;
  }
  .signOut {
    display: none;
  }

  .menu {
    display: block;
  }
}
