@import "../../scss/variables.scss";

.fieldset {
  margin-bottom: 2rem;
  position: relative;
}

.label {
  line-height: 2rem;
  color: rgb(100, 100, 100);
}

.errorMessage {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(24px);
  font-size: 0.8rem;
  color: rgb(145, 1, 1);
}

.input {
  margin: 0;
  border-radius: 3px;
  border: 2px solid rgb(204, 204, 204);
}
