.admin {
  display: grid;
  grid-template-columns: 255px auto;
  max-width: 100%;
}

.main {
  padding: 5.8rem 1.8rem;
  min-height: 100vh;
  background-color: $main-bg-color;
  max-width: 100%;
}

@media (max-width: 1000px) {
  .main {
    padding: 4rem 0 0 0;
    font-size: 0.9rem;
  }
  .admin {
    display: block;
  }
}
