.order-form {
  padding: 4rem 20rem;
}

@media (max-width: 1000px) {
  .order-form {
    display: flex;
    padding: 4rem 0 1.8rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
