.card {
  background-color: white;
  padding: 1.8rem;
  margin-bottom: 1.8rem;
  border-radius: 2px;
  // box-shadow: $box-shadow-card;
  display: block;
  overflow-x: auto;
}

.table-wrap {
  overflow-x: auto;
}

th,
td {
  padding: 1.1rem 1.8rem;
  font-size: 0.9rem;
  line-height: 1;
  white-space: pre-line;
}

tr:nth-child(even) {
  background-color: $main-bg-color;
}

button {
  border: none;
  background-color: $button-color;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 1.5rem;
}
.button:hover {
  background-color: $button-hover;
}

textarea,
select,
input {
  width: 100%;
  margin-bottom: 1.5rem;
}

select {
  padding: 0.5rem;
}
input {
  display: block;
  border: 1px solid $form-element-border;
  background-color: white;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-family: inherit;
  margin-bottom: 2rem;
}

input::placeholder {
  color: $form-element-border;
  opacity: 1;
}

.spinner {
  position: absolute;

  z-index: 50;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}

@media (max-width: 1000px) {
  .order__edits {
    flex-direction: column;
  }
  .sidebar {
    display: none;
  }
  .main {
    font-size: 0.9rem;
  }
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
  }
}
