$main-bg-color: rgb(247, 247, 248);
$main-hover-color: rgb(216, 245, 252);
$button-color: #00a2ff;
$button-color-secondary: #00ce67;
$button-hover: rgb(104, 142, 223);
$form-element-border: rgb(182, 179, 179);
/* $box-shadow-card: 0px 2px 6px 0px rgba(0, 0, 0, 0.18); */
$active-link-color: rgb(36, 137, 184);
$main-color: #1d7a8c;
$topbar-color: linear-gradient(120deg, #00e4d0, #5983e8);
$border-radius: 3px;

$test-color: var(--test-color);

:root {
  --test-color: hotpink;
}
